;;; personal.el -*- lexical-binding: t; -*-

(setq! personal-name "<YOUR NAME>"
       personal-email "<YOUR EMAIL>"
       personal-work-email "<YOUR WORK EMAIL>"
       personal-folder "<YOUR MAIN EMACS FOLDER>"
       personal-blog-folder "<YOUR WEBSITE REPOSITORY FOLDER">
       personal-whisper-folder "<YOUR FOLDER FOR STORING WHISPER MODELS>")
